<?xml version='1.0' encoding='utf-8'?>
<!--
 Copyright (c) Spike Global Ltd.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin id="cordova-plugin-oidc" version="0.10.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OIDC for Cordova</name>
    <description>Provides OpenID Connect Authentication for cordova.</description>

    <license>Apache 2.0</license>
    <keywords>cordova, oidc</keywords>
    <repo>https://github.com/spike-global/cordova-plugin-oidc</repo>
    <issue>https://github.com/spike-global/cordova-plugin-oidc/issues</issue>

    <!-- <dependency id="cordova-plugin-compat" version="^1.0.0" /> -->

    <engines>
        <!-- Required gradle functionality support -->
        <engine name="cordova-android" version=">=4.1.0" />
        <!-- Cordova 5.4.0 and Windows 4.1.0 are required for framework.target-dir support -->
        <engine name="cordova" version=">=5.4.0" />
    </engines>

    <js-module name="utility" src="www/utility.js">
        <runs />
    </js-module>

    <js-module name="AuthenticationContext" src="www/AuthenticationContext.js">
        <clobbers target="Cordova.OIDC.AuthenticationContext" />
    </js-module>

    <js-module name="CordovaBridge" src="www/CordovaBridge.js"/>
    <js-module name="AuthenticationResult" src="www/AuthenticationResult.js"/>
    <js-module name="TokenCache" src="www/TokenCache.js"/>
    <js-module name="TokenCacheItem" src="www/TokenCacheItem.js"/>
    <js-module name="UserInfo" src="www/UserInfo.js"/>
    <js-module name="LogItem" src="www/LogItem.js"/>

    <js-module name="AuthenticationSettings" src="www/AuthenticationSettings.js">
        <clobbers target="Cordova.OIDC.AuthenticationSettings" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OIDCProxy">
                <param name="android-package" value="com.cordova.plugin.oidc.CordovaOIDCPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.cordova.plugin.oidc.AuthenticationActivity"
                android:configChanges="orientation|keyboardHidden|screenSize">
            </activity>
        </config-file>

        <framework src="src/android/oidc.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/CordovaOIDCPlugin.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/DefaultAuthenticationCallback.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/SimpleSerialization.java" target-dir="src/com/cordova/plugin/oidc" />

        <source-file src="src/android/lib/IBrokerAccountService.aidl" target-dir="src/com/cordova/plugin/oidc" />
        
        <source-file src="src/android/lib/AbstractMetadataRequestor.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AcquireTokenInteractiveRequest.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AcquireTokenRequest.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AcquireTokenSilentHandler.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AcquireTokenWithBrokerRequest.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ADFSWebFingerValidator.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AggregatedDispatcher.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/APIEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationActivity.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationCallback.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationCancelError.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationConstants.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationContext.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationDialog.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationException.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationParameters.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationRequest.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationRequestState.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationResult.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationServerProtocolException.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/AuthenticationSettings.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/BasicWebViewClient.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/BrokerAccountServiceHandler.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/BrokerEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/BrokerProxy.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/CacheEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/CacheKey.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Callback.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/CallbackExecutor.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ChallengeResponseBuilder.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ClientMetrics.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DateTimeAdapter.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DefaultConnectionService.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DefaultDispatcher.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DefaultEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DefaultTokenCacheStore.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DeserializationAuthenticationException.java" target-dir="src/com/cordova/plugin/oidc" />
        <!-- <source-file src="src/android/lib/Discovery.java" target-dir="src/com/cordova/plugin/oidc" /> -->
        <source-file src="src/android/lib/DRSMetadata.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/DRSMetadataRequestor.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/EventStrings.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ExceptionExtensions.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/FileTokenCacheStore.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/HashMapExtensions.java" target-dir="src/com/cordova/plugin/oidc" />
        <!-- <source-file src="src/android/lib/HttpAuthDialog.java" target-dir="src/com/cordova/plugin/oidc" /> -->
        <source-file src="src/android/lib/HttpEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/HttpUrlConnectionFactory.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/HttpWebRequest.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/HttpWebResponse.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IBrokerProxy.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IConnectionService.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IdentityProviderService.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IDeviceCertificate.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IDispatcher.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IdToken.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IEvents.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IJWSBuilder.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ITokenCacheStore.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ITokenStoreQuery.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IWebRequestHandler.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/IWindowComponent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/JWSBuilder.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Link.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Logger.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/MemoryTokenCacheStore.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Oauth2.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/OIDCError.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/PackageHelper.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/PRNGFixes.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/PromptBehavior.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ResourceAuthenticationChallengeException.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/ServerRespondingWithRetryableException.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/SSOStateSerializer.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/StorageHelper.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/StringExtensions.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Telemetry.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/TokenCacheAccessor.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/TokenCacheItem.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/TokenCacheItemSerializationAdapater.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/UIEvent.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/UrlExtensions.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/UsageAuthenticationException.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/UserInfo.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/Utility.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/WebFingerMetadata.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/WebFingerMetadataRequestor.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/WebFingerMetadataRequestParameters.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/WebRequestHandler.java" target-dir="src/com/cordova/plugin/oidc" />
        <source-file src="src/android/lib/WebviewHelper.java" target-dir="src/com/cordova/plugin/oidc" />
        
    </platform>

    

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OIDCProxy">
                <param name="ios-package" value="CordovaOidcPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaOidcPlugin.h" />
        <source-file src="src/ios/CordovaOidcPlugin.m" />

        <header-file src="src/ios/CordovaOidcUtils.h" />
        <source-file src="src/ios/CordovaOidcUtils.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDC.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDC.m" />

        <header-file src="src/ios/lib/OIDC/src/OIDC_Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationContext.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationContext.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationContext+Internal.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationContext+Internal.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationError.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationError.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationError+Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationParameters.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationParameters.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationParameters+Internal.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationParameters+Internal.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationResult.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationResult.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationResult+Internal.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationResult+Internal.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCAuthenticationSettings.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCAuthenticationSettings.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCClientMetrics.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCClientMetrics.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCClientMetrics.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCClientMetrics.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCErrorCodes.h" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCLogger.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCLogger.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCLogger+Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCOAuth2Constants.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCOAuth2Constants.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCRequestContext.h" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCRequestParameters.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCRequestParameters.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCUserIdentifier.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCUserIdentifier.m" />
        
        <header-file src="src/ios/lib/OIDC/src/OIDCUserInformation.h" />
        <source-file src="src/ios/lib/OIDC/src/OIDCUserInformation.m" />
                
        <header-file src="src/ios/lib/OIDC/src/broker/OIDCBrokerHelper.h" />
        
        <source-file src="src/ios/lib/OIDC/src/broker/ios/OIDCBrokerHelper.m" />
        
        <header-file src="src/ios/lib/OIDC/src/broker/ios/OIDCBrokerKeyHelper.h" />
        <source-file src="src/ios/lib/OIDC/src/broker/ios/OIDCBrokerKeyHelper.m" />
        
        <header-file src="src/ios/lib/OIDC/src/broker/ios/OIDCBrokerNotificationManager.h" />
        <source-file src="src/ios/lib/OIDC/src/broker/ios/OIDCBrokerNotificationManager.m" />
        
        <source-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCache.m" />        
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCache+Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheAccessor.h" />
        <source-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheAccessor.m" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheDataSource.h" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheItem.h" />
        <source-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheItem.m" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheItem+Internal.h" />
        <source-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheItem+Internal.m" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheKey.h" />
        <source-file src="src/ios/lib/OIDC/src/cache/OIDCTokenCacheKey.m" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/OIDCKeychainTokenCache.h" />
        <source-file src="src/ios/lib/OIDC/src/cache/ios/OIDCKeychainTokenCache.m" />
        
        <header-file src="src/ios/lib/OIDC/src/cache/ios/OIDCKeychainTokenCache+Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAcquireTokenSilentHandler.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAcquireTokenSilentHandler.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+AcquireAssertion.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+AcquireAssertion.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+AcquireToken.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+AcquireToken.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+Broker.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+Broker.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+WebRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCAuthenticationRequest+WebRequest.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCWebAuthRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCWebAuthRequest.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCWebAuthResponse.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCWebAuthResponse.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCWebRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCWebRequest.m" />
        
        <header-file src="src/ios/lib/OIDC/src/request/OIDCWebResponse.h" />
        <source-file src="src/ios/lib/OIDC/src/request/OIDCWebResponse.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCAggregatedDispatcher.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCAggregatedDispatcher.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCDefaultDispatcher.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCDefaultDispatcher.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCDefaultDispatcher.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCDefaultDispatcher.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetry.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetry.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetry+Internal.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetry+Internal.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryAPIEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryAPIEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryBrokerEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryBrokerEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryCacheEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryCacheEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryCollectionRules.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryCollectionRules.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryDefaultEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryDefaultEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryEventInterface.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryEventInterface.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryEventStrings.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryEventStrings.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryHttpEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryHttpEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryUIEvent.h" />
        <source-file src="src/ios/lib/OIDC/src/telemetry/OIDCTelemetryUIEvent.m" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/OIDCAuthenticationViewController.h" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/OIDCNTLMUIPrompt.h" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/OIDCWebAuthController.h" />
        <source-file src="src/ios/lib/OIDC/src/ui/OIDCWebAuthController.m" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/OIDCWebAuthController+Internal.h" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/OIDCWebAuthDelegate.h" />
        
        <source-file src="src/ios/lib/OIDC/src/ui/ios/OIDCAuthenticationViewController.m" />
        
        <source-file src="src/ios/lib/OIDC/src/ui/ios/OIDCNTLMUIPrompt.m" />
        
        <header-file src="src/ios/lib/OIDC/src/ui/ios/UIApplication+OIDCExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/ui/ios/UIApplication+OIDCExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCCustomHeaderHandler.h" />
        <source-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCCustomHeaderHandler.m" />

        <header-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCNegotiateHandler.h" />
        <source-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCNegotiateHandler.m" />

        <header-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCNTLMHandler.h" />
        <source-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCNTLMHandler.m" />

        <header-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCURLProtocol.h" />
        <source-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCURLProtocol.m" />

        <header-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCURLSessionDemux.h" />
        <source-file src="src/ios/lib/OIDC/src/urlprotocol/OIDCURLSessionDemux.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSDictionary+OIDCExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSDictionary+OIDCExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSMutableDictionary+OIDCExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSMutableDictionary+OIDCExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSString+OIDCHelperMethods.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSString+OIDCHelperMethods.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSString+OIDCTelemetryExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSString+OIDCTelemetryExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSURL+OIDCExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSURL+OIDCExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/NSUUID+OIDCExtensions.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/NSUUID+OIDCExtensions.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/OIDCFrameworkUtils.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/OIDCFrameworkUtils.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/OIDCHelpers.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/OIDCHelpers.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/OIDCIpAddressHelper.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/OIDCIpAddressHelper.m" />

        <header-file src="src/ios/lib/OIDC/src/utils/OIDCKeychainUtil.h" />

        <header-file src="src/ios/lib/OIDC/src/utils/ios/OIDCAppExtensionUtil.h" />
        <source-file src="src/ios/lib/OIDC/src/utils/ios/OIDCAppExtensionUtil.m" />

        <source-file src="src/ios/lib/OIDC/src/utils/ios/OIDCKeychainUtil.m" />

        <header-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityCache.h" />
        <source-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityCache.m" />

        <header-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityValidation.h" />
        <source-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityValidation.m" />

        <header-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityValidationRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/validation/OIDCAuthorityValidationRequest.m" />

        <header-file src="src/ios/lib/OIDC/src/validation/OIDCDrsDiscoveryRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/validation/OIDCDrsDiscoveryRequest.m" />

        <header-file src="src/ios/lib/OIDC/src/validation/OIDCWebFingerRequest.h" />
        <source-file src="src/ios/lib/OIDC/src/validation/OIDCWebFingerRequest.m" />

        <header-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCJwtHelper.h" />
        <source-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCJwtHelper.m" />

        <header-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCPkeyAuthHelper.h" />
        <source-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCPkeyAuthHelper.m" />

        <header-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCRegistrationInformation.h" />
        <source-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCRegistrationInformation.m" />

        <header-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCWorkPlaceJoinConstants.h" />
        <source-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCWorkPlaceJoinConstants.m" />

        <header-file src="src/ios/lib/OIDC/src/workplacejoin/OIDCWorkPlaceJoinUtil.h" />

        <source-file src="src/ios/lib/OIDC/src/workplacejoin/ios/OIDCWorkPlaceJoinUtil.m" />

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>oidcauth</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>$(CFBundleIdentifier)</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>x-oidcauth-$(CFBundleIdentifier:rfc1034identifier)</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>

</plugin>
